@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 33, 33, 33;
  --background-start-rgb: 229, 229, 229;
  --background-end-rgb: 245, 245, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  cursor: none;
}

/* Custom inverse cursor */
.custom-cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #39ff14;
  background-color: rgba(57, 255, 20, 0.3);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}

/* Inverse text selection */
::selection {
  background-color: #39ff14;
  color: #0a0a0a;
}

/* Click animation */
@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.cursor-click {
  animation: click 0.3s ease-in-out;
}

/* Dark mode styles */
.dark {
  --foreground-rgb: 245, 245, 245;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 18, 18, 18;
}

.dark body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.dark .custom-cursor {
  border-color: #39ff14;
  background-color: rgba(57, 255, 20, 0.3);
}

.dark ::selection {
  background-color: #39ff14;
  color: #ffffff;
}

